:root {
    --cor-principal: #003E2F;
    --cor-secundaria: #E8EEEA;
    --cor-apoio: #EDFBFB;
    --cor-botao: #00A47C;
    --cor-hover: #097975;
    --cor-dourado: #F7D8A1;
    --cor-branco: #FFF;
    --cor-preto: #000;
    --cor-cinza: #D9D9D9;
  }